
@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit Employee";
}

<div class="row justify-content-center mt-3">
    <div class="col-8">
        <h1 class="my-4 text-center">@ViewData["Title"]</h1>

        <form method="post" asp-controller="Employee" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <!-- Partial View for employee fields -->
            <partial name="PartialView\_EmpCreateEditPartialView" model="Model" />

            <!-- Form buttons -->
            <div class="mt-4 d-flex justify-content-between">
                <input type="submit" class="btn btn-success" value="Save Changes" />
                <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}