@model int

<td>
    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@Model">
        <i class="fas fa-eye fa-sm"></i> Details
    </a>
</td>
<td>
    <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@Model">
        <i class="fas fa-edit fa-sm"></i> Edit
    </a>
</td>

